/*Image*/
:host(core-picture) {
    position: relative;
    display: inline-block;
    flex: none;
    margin: 7px;
    vertical-align: middle;
}

:host(core-picture-shadow1),
:host(core-picture-shadow2) {
    content: "";
    width: 100%;
    height: 100%;
    padding: 2px;
    display: inline-block;
    position: absolute;
    left: -2px;
    top: 4px;
    filter: blur(4px);
    transition: all .218s;
}

:host(core-picture-drop-shadow1) {
    transform: skew(0, -2deg);
    background: transparent linear-gradient(to right, #0003, transparent);
}

:host(core-picture-drop-shadow2) {
    transform: skew(0, 2deg);
    background: transparent linear-gradient(to right, transparent, #0003);
}

:host(core-picture-frame) {
    display: inline-block;
    position: relative;
    padding: 7px;
    background: white;
    box-shadow: inset 0 0.5px 1px #fff7, inset 0 -0.5px 1px #0007;
}

:host(core-picture-inner-shade) {
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(92deg, #0001, #7771 20%, #7771 80%, #fff1);
}

/*Progress Bar*/
:host(core-progress-bar) {
    flex: none;
    display: inline-flex;
    width: 150px;
    height: 4px;
    margin: 2px;
    padding: 0;
    background: var(--progress-bar-bg-color) linear-gradient(to bottom, #00000011, transparent);
    box-shadow: inset 0 1px 1px #00000033, 0 1px 2px #00000033;
    border: solid 1px #636363;
    --progress-bar-face-color: white;
    --progress-bar-bg-color: grey;
    --progress-bar-face-bg-image: linear-gradient(to bottom, #ffffff11, #00000011);
    --progress-bar-face-indeterminate-bg-image: repeating-linear-gradient(-45deg, #ffffff33 0, #ffffff33 4.5px, #00000033 4.5px, #00000033 9px);
}

:host(core-progress-bar[hidden]) {
    visibility: collapse;
}

core-progress-bar-fill {
    flex: 1;
    display: block;
    margin: 0;
    padding: 0;
    background: var(--progress-bar-face-color) var(--progress-bar-face-bg-image);
    background-size: 200% 100%;
    box-shadow: inset 0 1px 1px #ffffff55;
}

core-progress-bar-fill.core-progress-bar-fill-indeterminate {
    background-image: var(--progress-bar-face-bg-image), var(--progress-bar-face-indeterminate-bg-image);
    animation: progress-bar-fill-indeterminate linear 2s infinite;
}

@keyframes progress-bar-fill-indeterminate {
    from {
        background-position: -38px 0;
    }

    to {
        background-position: 0 0;
    }
}